In [0]:
df = spark.read.json(path="dbfs:/FileStore/tables/sample_json_3.json",multiLine=True)
df.show(truncate=False)

+-----------------------------------------------+----+---------------------+
|employees                                      |id  |properties           |
+-----------------------------------------------+----+---------------------+
|[{1001, Divesh}, {1002, Rajesh}, {1003, David}]|1001|{ABC Pvt Ltd, Medium}|
+-----------------------------------------------+----+---------------------+

In [0]:
from pyspark.sql.types import StringType,StructType,StructField,IntegerType 
data = [(1,"kalai",23),
        (2,"basheer",23),
        (3,"satyapriya",22),
        (4,"rajamahalakshmai",22),
        (5,"logeshwaram A",23)]

schema = StructType([
    StructField("id",IntegerType()),
    StructField("name",StringType()),
    StructField("age",IntegerType())
])

df = spark.createDataFrame(data = data , schema = schema)
df.show()

+---+----------------+---+
| id|            name|age|
+---+----------------+---+
|  1|           kalai| 23|
|  2|         basheer| 23|
|  3|      satyapriya| 22|
|  4|rajamahalakshmai| 22|
|  5|   logeshwaram A| 23|
+---+----------------+---+

In [0]:
df.write.json("dbfs:/FileStore/json_file/emps")

In [0]:
display(spark.read.json(path='dbfs:/FileStore/json_file/emps'))

age,id,name
22,4,rajamahalakshmai
23,5,logeshwaram A
22,3,satyapriya
23,2,basheer
23,1,kalai

In [0]:
data = [(1,"kuldeep",23),
        (2,"manvi",23),
        (3,"krishna",22),
        (4,"pratibha",22),
        (5,"amit",23)]

schema = StructType([
    StructField("id",IntegerType()),
    StructField("name",StringType()),
    StructField("age",IntegerType())
])

df2 = spark.createDataFrame(data = data , schema = schema)
df2.show()

+---+--------+---+
| id|    name|age|
+---+--------+---+
|  1| kuldeep| 23|
|  2|   manvi| 23|
|  3| krishna| 22|
|  4|pratibha| 22|
|  5|    amit| 23|
+---+--------+---+

In [0]:
df2.write.json("dbfs:/FileStore/json_file/emps",mode='append')

append is successfully done

In [0]:
display(spark.read.json(path='dbfs:/FileStore/json_file/emps'))

age,id,name
22,4,rajamahalakshmai
23,5,logeshwaram A
22,3,satyapriya
22,4,pratibha
23,1,kuldeep
23,2,basheer
22,3,krishna
23,1,kalai
23,2,manvi
23,5,amit