In [0]:
from delta.tables import *
DeltaTable.create(spark)\
    .tableName('Employee_table')\
    .addColumn('emp_id','INT')\
    .addColumn('emp_name','STRING')\
    .addColumn('salary','INT')\
    .addColumn('dept',"STRING")\
    .property('description',"table created for instance")\
    .location('/FileStore/table/delta_tables/createtable')\
    .execute()

Out[1]: <delta.tables.DeltaTable at 0x7fa1e84e1cd0>

In [0]:
%sql
insert into Employee_table values(100,'kuldeep','30000','IT');
insert into employee_table values(200,'kartik','40000','HR');
insert into Employee_table values(300,'pralhad','50000','COO');
insert into employee_table values(400,'raghu','45000','CTO');
insert into Employee_table values(500,'vipul','30000','IT');
insert into employee_table values(600,'saket','35000','BI');

num_affected_rows,num_inserted_rows
1,1

In [0]:
%sql
select * from employee_table

emp_id,emp_name,salary,dept
300,pralhad,50000,COO
100,kuldeep,30000,IT
200,kartik,40000,HR
400,raghu,45000,CTO
500,vipul,30000,IT
600,saket,35000,BI

In [0]:
deltaInstance = DeltaTable.forPath(spark,'dbfs:/FileStore/table/delta_tables/createtable')

In [0]:
display(deltaInstance.toDF())

emp_id,emp_name,salary,dept
300,pralhad,50000,COO
100,kuldeep,30000,IT
200,kartik,40000,HR
400,raghu,45000,CTO
500,vipul,30000,IT
600,saket,35000,BI

In [0]:
%sql
delete  from employee_table WHERE emp_id = 100

num_affected_rows
1

In [0]:
deltaInstance = DeltaTable.forPath(spark,'dbfs:/FileStore/table/delta_tables/createtable')
display(deltaInstance.toDF())

emp_id,emp_name,salary,dept
300,pralhad,50000,COO
200,kartik,40000,HR
400,raghu,45000,CTO
500,vipul,30000,IT
600,saket,35000,BI

In [0]:
deltaInstance.delete('emp_id = 300')

In [0]:
display(deltaInstance.toDF())

emp_id,emp_name,salary,dept
200,kartik,40000,HR
400,raghu,45000,CTO
500,vipul,30000,IT
600,saket,35000,BI

---------------------------------------------------------------------------
NameError                                 Traceback (most recent call last)
File <command-3959888295478395>:1
----> 1 employee_table.delete('emp_id=400')

NameError: name 'employee_table' is not defined

In [0]:
from pyspark.sql.types import IntegerType,StructField,StructType,StringType

employee_data = [(700,"ramu kaka",10000,"HR")]
employee_schema = StructType([
    StructField('emp_id',IntegerType()),
    StructField('emp_name',StringType()),
    StructField('salary',IntegerType()),
    StructField('dept',StringType())
])

df = spark.createDataFrame(data =employee_data, schema = employee_schema)

In [0]:
display(df)

emp_id,emp_name,salary,dept
700,ramu kaka,10000,HR

In [0]:
df.write.format('delta').mode('append').saveAsTable('employee_table')

In [0]:
%sql
select * from employee_table

emp_id,emp_name,salary,dept
700,ramu kaka,10000,HR
200,kartik,40000,HR
400,raghu,45000,CTO
500,vipul,30000,IT
600,saket,35000,BI

In [0]:
from pyspark.sql.types import IntegerType,StructField,StructType,StringType

employee_data = [(800,"rajabov",10000,"senior data associate lead")]
employee_schema = StructType([
    StructField('emp_id',IntegerType()),
    StructField('emp_name',StringType()),
    StructField('salary',IntegerType()),
    StructField('dept',StringType())
])

df = spark.createDataFrame(data =employee_data, schema = employee_schema)

In [0]:
df.write.insertInto('employee_table',overwrite = False)

In [0]:
%sql
select * from employee_table

emp_id,emp_name,salary,dept
800,rajabov,10000,senior data associate lead
700,ramu kaka,10000,HR
200,kartik,40000,HR
400,raghu,45000,CTO
600,saket,35000,BI
500,vipul,30000,IT

In [0]:
df.createOrReplaceTempView('delta_data')

In [0]:
%sql 
select * from delta_data

emp_id,emp_name,salary,dept
800,rajabov,10000,senior data associate lead